input[type="submit"],
button,
[aria-label] {
  cursor: pointer;
}
#spoiler {
  display: none;
}

body {
  font-family: Arial;
}
.punteado {
  border-style: dashed;
  border-width: 1px;
  border-color: 660033;
  background-color: cc3366;
  font-family: verdana, arial;
  font-size: 12pt;
}
